<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="csboard2">

   <!-- 게시판 글 생성 -->
	<insert id="create">
     INSERT INTO counboard(csNO,memNO,questDF,title,content,writeDate,state)
            values ('CB_A'||LPAD(CounBoard_seq.nextval,5,0),#{memNO},#{questDF}, #{title}, #{content},sysdate, '2')
 	</insert>

	<!-- 게시판 글 수정 -->
	<update id="update">
		UPDATE counboard
		SET title = #{title}, content = #{content}
		WHERE csNO = #{csNO}
	</update>

	<!-- 게시판 글 삭제 -->
	<delete id="delete">
		DELETE FROM counboard
		WHERE csNO = #{csNO}
	</delete>

	<!-- 게시판 글 읽기 -->
	<select id="read" resultType="csboard2">
     select  csNO,memNO,name,title,content,writeDate,state
     from counboard natural join DF_Question
		WHERE csNO = #{csNO}
	</select>

	<!-- -->
	<select id="listAll" resultType="csboard2">
		SELECT csNO, memNO, questDF, title, content, state
		FROM (SELECT csNO, memNO, questDF, title, content, writeDate, state, rownum rn
		      FROM (SELECT csNO, memNO, questDF, title, content, writeDate, state
		            FROM counboard
		            ORDER BY csNO DESC)
		)
		WHERE rn BETWEEN 1 AND 10
	</select>

	<!-- -->
	<select id="listPage" resultType="csboard2">
		SELECT csNO, memNO, name, title, content, writeDate, state
		FROM counboard NATURAL JOIN DF_Question
		ORDER BY csNO DESC
	</select>

	<!-- -->
	<select id="countPaging" resultType="int">
		SELECT count(*) FROM counboard
	</select>

	<!-- search + listSearch 검색어조회 + 리스트목록 출력 -->
	<sql id="search">
		<if test="searchType != null">
			<if test="searchType == 't'.toString()">
				AND title LIKE '%'||#{keyword}||'%'
			</if>
			<if test="searchType == 'c'.toString()">
				AND content LIKE '%'||#{keyword}||'%'
			</if>
			<if test="searchType == 'w'.toString()">
				AND writer LIKE '%'||#{keyword}||'%'
			</if>
		</if>
	</sql>

	<!-- -->
	<select id="listSearch" resultType="csboard2">
		SELECT counboard.csNO, counboard.memNO, DF_Question.name,counboard.title,counboard.content,counboard.writeDate,counboard.state,Member.nickName
		FROM counboard, DF_Question, Member
		WHERE counboard.memNO = Member.memNO AND counboard.questDF = DF_Question.questDF
		<include refid="search"></include>
		ORDER BY csNO DESC
	</select>

   <!-- 검색어 조회 엔진 search2 + listSearchCount -->
  <sql id="search2">
		<if test="searchType != null">
			<if test="searchType == 't'.toString()">
				WHERE title LIKE '%'||#{keyword}||'%'
			</if>
			<if test="searchType == 'c'.toString()">
				WHERE content LIKE '%'||#{keyword}||'%'
			</if>
			<if test="searchType == 'w'.toString()">
				WHERE writer LIKE '%'||#{keyword}||'%'
			</if>
		</if>
	</sql>

	<!-- -->
	<select id="listSearchCount" resultType="int">
		SELECT count(*) FROM counboard
		<include refid="search2"></include>
	</select>

	<!-- 닉네임 가져오기 -->
	<select id='nick' resultType="csboard2">
		SELECT memNO, nickName FROM Member
	</select>

	<!-- 카테고리 가져오기 -->
	<select id='cate' resultType="quest">
		SELECT questDF, name FROM DF_Question
		WHERE isYn = 'Y'
	</select>
</mapper>
