<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="csboard2">
	<!-- -->
	<insert id="create">
		INSERT INTO counboard (csNO, memNO, questDF, title, content, writeDate, state)
		VALUES ('CB_A' || LPAD(CounBoard_seq.nextval, 5, 0), 'MEM_A00001', 'D_QU01', #{title}, #{content}, sysdate, '2')
	</insert>

	<!-- -->
	<update id="update">
		UPDATE counboard
		SET title = #{title}, content = #{content}
		WHERE csNO = #{csNO}
	</update>

	<!-- -->
	<delete id="delete">
		DELETE FROM counboard
		WHERE csNO = #{csNO}
	</delete>

	<!-- -->
	<select id="read" resultType="csboard2">
		SELECT csNO, memNO, questDF, title, content, writeDate, state
		FROM counboard
		WHERE csNO = #{csNO}
	</select>

	<!-- -->
	<select id="listAll" resultType="csboard2">
		SELECT csNO, memNO, questDF, title, content, state
		FROM (SELECT csNO, memNO, questDF, title, content, writeDate, state, rownum rn
		      FROM (SELECT csNO, memNO, questDF, title, content, writeDate, state
		            FROM counboard
		            ORDER BY csNO DESC)
		)
		WHERE rn BETWEEN 1 AND 10
	</select>

	<!-- -->
	<select id="listPage" resultType="csboard2">
		SELECT csNO, memNO, questDF, title, content, writeDate, state
		FROM counboard
		ORDER BY csNO DESC
	</select>

	<!-- -->
	<select id="countPaging" resultType="int">
		SELECT count(*) FROM counboard
	</select>

	<!-- 검색어 조회 -->
	<sql id="search">
		<if test="searchType != null">
			<if test="searchType == 't'.toString()">
				WHERE title LIKE '%'||#{keyword}||'%'
			</if>
			<if test="searchType == 'c'.toString()">
				WHERE content LIKE '%'||#{keyword}||'%'
			</if>
			<if test="searchType == 'w'.toString()">
				WHERE writer LIKE '%'||#{keyword}||'%'
			</if>
		</if>
	</sql>

	<!-- -->
	<select id="listSearch" resultType="csboard2">
		SELECT csNO, memNO, questDF, title, content, writeDate, state
		FROM counboard
		<include refid="search"></include>
		ORDER BY csNO DESC
	</select>

	<!-- -->
	<select id="listSearchCount" resultType="int">
		SELECT count(*) FROM counboard
		<include refid="search"></include>
	</select>

</mapper>
