<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="login">
	<!-- 로그인 -->
	<select id="login" resultType="int">
		SELECT count(*)
		FROM member
		WHERE email=#{email}
		AND pass =#{pass}
		AND (state ='2' OR state ='3')
		AND personDF='D_PE01'        <!-- 등급이 일반회원인 사람만 -->
	</select>

	<!-- email을 통한 memNO얻기 -->
	<select id="getMemNO" resultType="String">
		SELECT memNO
		FROM member
		WHERE email = #{email}
	</select>

	<!-- 로그인 성공시 최근접속일 최신화 -->
	<update id="latestDateUpdate">
		UPDATE member
		SET latestDate = sysdate
		WHERE memNO = #{memNO}
	</update>

	<!-- memNO를 통한 전체 정보(member테이블) 얻기-->
	<select id="getMeminfo" resultType="member">
		SELECT memNO, personDF, email, pass, name, nickName, birth, sex, tel, joinDate, latestDate, state
		FROM member
		WHERE memNO = #{memNO}
	</select>

	<!-- memNO를 통한 전체 정보(messenger테이블) 얻기-->
	<select id="getMembermsg" resultType="messengerVO">
		SELECT no, memNO, mesDF, id, name
		FROM NP_MemMes
			NATURAL JOIN DF_Messenger
		WHERE memNO = #{memNO}
	</select>

	<!-- 비밀번호찾기 -->
	<select id="findpass" resultType="String">
		SELECT pass
		FROM member
		WHERE email = #{email} AND name = #{name} AND tel = #{tel}
		      AND (state = '2' OR state = '3')
	</select>


</mapper>
