<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="member">

	<!-- 회원가입등록 -->
	<insert id="create">
		<selectKey keyProperty="memNO" resultType="String" order="BEFORE">
			select 'MEM_A'||LPAD(Member_seq.nextval, 5, 0) from dual
		</selectKey>
		INSERT INTO member (memNO, email, pass, name, birth, sex, tel, nickName, personDF, joinDate, state)
		VALUES ('${memNO}', #{email}, #{pass}, #{name}, #{birth}, #{sex}, #{tel}, #{nickName}, 'D_PE01', sysdate,'2')
	</insert>

	

	<select id="selectMesDF" resultType="String"> <!-- 회원번호로 메신저 구분번호 찾고  -->
		SELECT mesDF FROM NP_MemMes
		WHERE memNO = #{memNO}
	</select>

	<!-- 중복체크 -->
	<select id="idCheckSelect" resultType="int">
		SELECT count(*)
		FROM member
		WHERE email = #{email}
	</select>

	<select id="nickNameCheckSelect" resultType="int">
		SELECT count(*)
		FROM member
		WHERE nickname = #{nickName}
	</select>
</mapper>
