<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="messenger">
	
	<!-- 이건뭐야-->
	<select id="selectMsgMno" resultType="String"><!-- 이메일로 회원번호 찾기 -->
		SELECT memNO
		FROM member
		WHERE email = #{email}
	</select>
	
	<!-- 메신저 등록 -->
	<insert id="insert"> 
		INSERT INTO NP_MemMes (no,memNO, mesDF, id)
		VALUES ( #{no},#{memNO},#{mesDF},#{id})
	</insert>
	
	
	<!-- 메신저 목록 리스트 보기 -->
	<select id="memMesInfo" resultType="messengerVO">
		SELECT mesDF, name
		FROM DF_Messenger
		WHERE ISYN = 'Y'
	</select>
	
	<!-- 메신저 수정 -->
	<update id="update">
		update NP_MemMes
		set id = #{id}, mesDF = #{mesDF} 
		where no = #{no}
		and memNO=#{memNO}
	</update>
	
	<!-- 메신저 삭제 -->
	<delete id="delete">
		delete
		from NP_MemMes
		where memNO=#{memNO}
		and no= #{no}
	</delete>
	
	<!-- 메신저 추가등록 -->
	<insert id="add">
		INSERT INTO NP_MemMes (no,memNO, mesDF, id)
		VALUES ( #{no},#{memNO},#{mesDF},#{id})
	</insert>
	
	
</mapper>
