<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="talExcConn">

	<!-- 연결 생성 -->
	<!--<insert id="create">-->
		<!--INSERT INTO TalExcConn (talConnNO, talDocNO, title, content, reqDate, state)-->
		<!--VALUES ('TEC_A' || LPAD(TalExcConn_seq.nextval, 5, 0), 'TB_A00005', #{title}, #{content}, sysdate, 2)-->
	<!--</insert>-->

	<!-- 신청 등록 -->
	<insert id="createConn">
		<selectKey keyProperty="talConnNO" resultType="String" order="BEFORE">
			SELECT 'TEC_A' || LPAD(TalExcConn_seq.nextval, 5, 0) FROM dual
		</selectKey>
		INSERT INTO TalExcConn (talConnNO, talDocNO, memNO, title, content, state)
		VALUES ('${talConnNO}', #{talDocNO}, #{memNO}, #{title}, #{content}, 2)
	</insert>

	<!-- 신청 ~ 원하는 재능 등록 -->
	<insert id="createWantCn">
		INSERT INTO NP_TalWantCn (talConnNO, talDivDF)
		VALUES (#{talConnNO}, #{talDivDF})
	</insert>

	<!-- 신청 ~ 보유한 재능 등록 -->
	<insert id="createHaveCn">
		INSERT INTO NP_TalHaveCn (talConnNO, talDivDF)
		VALUES (#{talConnNO},#{talDivDF})
	</insert>

	<!-- 신청글 상세정보 -->
	<select id="readReception" resultType="talExcConnVO">
		SELECT talConnNO, memNO, nickName, title, content, isYnView, reqDate
		FROM TalExcConn NATURAL JOIN Member
		WHERE talConnNO = #{talConnNO}
	</select>

	<!-- 신청자가 보유한 재능 정보 -->
	<select id="listSenderHaveDiv" resultType="talDivVO">
		SELECT talDivDF, name
		FROM NP_TalHaveCn NATURAL JOIN DF_TALDIV
		WHERE talConnNO = #{talConnNO}
		ORDER BY talDivDF ASC
	</select>

	<!-- 신청자가 원하는 재능 정보 -->
	<select id="listSenderWantDiv" resultType="talDivVO">
		SELECT talDivDF, name
		FROM NP_TalWantCn NATURAL JOIN DF_TALDIV
		WHERE talConnNO = #{talConnNO}
		ORDER BY talDivDF ASC
	</select>

	<!-- 글 확인 -->
	<update id="updIsView" parameterType="talExcConnVO">
		UPDATE TalExcConn
		SET isYnView = 'Y' --신청글 확인
		WHERE talConnNO = #{talConnNO}
	</update>

	<!-- 재능교환 연결 수락 -->
	<update id="updTecAccept" parameterType="talExcConnVO">
		UPDATE TalExcConn
		SET state    = '3', --연결성공
			connDate = sysdate
		WHERE talConnNO = #{talConnNO}
	</update>

	<!-- 재능교환 연결 거절 -->
	<update id="updTecRefuse" parameterType="talExcConnVO">
		UPDATE TalExcConn
		SET state = '4' --연결거절
		WHERE talConnNO = #{talConnNO}
	</update>

	<!--  검색어 조회 -->
	<sql id="search">
		<if test="searchType !=null">
			<if test="searchType == 't'.toString()">
				AND e.title LIKE '%'||#{keyword}||'%'
			</if>
			<if test="searchType == 'c'.toString()">
				AND e.content LIKE '%'||#{keyword}||'%'
			</if>
			<if test="searchType == 'w'.toString()">
				AND nickName LIKE '%'||#{keyword}||'%'
			</if>
		</if>
	</sql>

	<!-- 검색하기 -->
	<select id="listSearch" resultType="talExcConnVO">
		SELECT TEC.talConnNO, M.nickName, TEC.title, content, reqDate, TEC.state, TEC.isYnView
		FROM NP_TalHaveCn THC, TalentBoard TB, TalExcConn TEC, Member M
		WHERE TEC.memNO = M.memNO
		      AND THC.talConnNO = TEC.talConnNO
			AND TB.talDocNO = TEC.talDocNO
			AND TB.memNO = #{connMemNO} --자신의 NO가 재능글의 NO와 같을때
			AND TEC.STATE = 2
		GROUP BY TEC.talConnNO, M.NICKNAME, TEC.TITLE, CONTENT, REQDATE, TEC.STATE, TEC.isYnView
		ORDER BY talConnNO DESC
	</select>

	<select id="listTalDivCn" resultType="talDivVO">
		SELECT *
		FROM NP_TalHaveCn
			NATURAL JOIN DF_TALDIV
	</select>

	<!-- 검색으로 찾은 목록 갯수 확인하기 -->
	<select id="listSearchCount" resultType="int">
		SELECT COUNT(*) FROM TalExcConn
		<include refid="search"></include>
	</select>
</mapper>