<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="rboard">

	<!-- 후기 입력하기 -->
	<insert id="create">
		INSERT INTO TalExchange (talExcNO, talConnNO, title, content, writeDate)
		VALUES ('TE_A' || LPAD(TalExchange_seq.nextval, 5, 0), 'TEC_A00005', #{title}, #{content}, sysdate)
	</insert>

	<!-- 후기 게시판 전체목록보기 -->
	<select id="listAll" resultType="rboard">
		SELECT talExcNO, title, content, writeDate
		FROM TalExchange
		ORDER BY talExcNO DESC
	</select>

	<!-- 게시물 상세읽기 -->
	<select id="read" resultType="rboard">
		SELECT talExcNO, title, content, writeDate
		FROM TalExchange
		WHERE talExcNO = #{talExcNO}
	</select>

	<!-- 	<select id="nickname">
			select nickname
					from member
						where memno= (select  memNO
					from TalExcConn
					where talConnNo = (select talConnNO
										from TalExchange
										where talExcNO=#{talExcNO}))
		</select> -->

	<!-- 게시물 수정 -->
	<update id="update">
		UPDATE TalExchange
		SET title = #{title}, content = #{content}
		WHERE talExcNO = #{talExcNO}
	</update>

	<!-- 게시물 삭제 -->
	<delete id="delete">
		DELETE FROM TalExchange
		WHERE talExcNO = #{talExcNO}
	</delete>

	<!--  검색어 조회 -->
	<sql id="search">
		<if test="searchType !=null">
			<if test="searchType == 't'.toString()">
				AND e.title LIKE '%'||#{keyword}||'%'
			</if>
			<if test="searchType == 'c'.toString()">
				AND e.content LIKE '%'||#{keyword}||'%'
			</if>
			<if test="searchType == 'w'.toString()">
				AND nickname LIKE '%'||#{keyword}||'%'
			</if>
		</if>
	</sql>

	<!-- 검색하기 -->
	<select id="listSearch" resultType="rboard">
		SELECT talExcNO, e.title, e.content, nickName, writeDate
		FROM TalExchange e, TalExcConn c, member m
		WHERE c.memNO = m.memNO
		AND e.talConnNO = c.talConnNO <!-- <include refid="search"></include> -->
		ORDER BY talExcNO DESC
	</select>

	<!-- 전체글갯수 확인하기 -->
	<select id="countPaging" resultType="int">
		SELECT count(*)
		FROM TalExchange
	</select>

	<!-- 검색으로 찾은 목록 갯수 확인하기 -->
	<select id="listSearchCount" resultType="int">
		SELECT count(*) FROM TalExchange
		<include refid="search"></include>
	</select>

	<!-- <select id="nickname" resultType="int">
	select nickname
	from member
	where memno= (select  memNO
					from TalExcConn
					where talConnNo = (select talConnNO
										from TalExchange
										where talExcNO='TE_A00001'))
	</select> -->
</mapper>




