<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="rboard">
	
	<!-- 후기 입력하기 -->
	<insert id="create">
		insert into TalExchange(talExcNO, talConnNO, title, content, writeDate)
				values('TE_A'||LPAD(TalExchange_seq.nextval,5,0),'TEC_A00005', #{title}, #{content}, sysdate)
	</insert>
	
	<!-- 후기 게시판 전체목록보기 -->
	<select id="listAll" resultType="rboard">
		select talExcNO ,  title, content, writeDate
		from TalExchange
		order by talExcNO desc
	</select>
	
	<!-- 게시물 상세읽기 -->
	<select id="read" resultType="rboard">
		select talExcNO, title, content, writeDate
		 from TalExchange
		 where talExcNO=#{talExcNO}
	</select>
	
<!-- 	<select id="nickname">
		select nickname
				from member
					where memno= (select  memNO
				from TalExcConn
				where talConnNo = (select talConnNO
									from TalExchange
									where talExcNO=#{talExcNO}))
	</select> -->
	
	<!-- 게시물 수정 -->
	<update id="update">
		update TalExchange
		set title=#{title}, content=#{content}
		where talExcNO=#{talExcNO}
	</update>
	
	<!-- 게시물 삭제 -->
	<delete id="delete">
		delete from TalExchange where talExcNO=#{talExcNO}
	</delete>

	
	<!--  검색어 조회 -->
	<sql id="search">
	<if test="searchType !=null">		   
		<if test="searchType == 't'.toString()">
			and e.title like '%'||#{keyword}||'%'
		</if>		
		<if test="searchType == 'c'.toString()">
			and e.content like '%'||#{keyword}||'%'
		</if>		
		<if test="searchType == 'w'.toString()">
			and nickname like '%'||#{keyword}||'%'
		</if>		
	</if>
	
	</sql>
	<!-- 검색하기 -->
	<select id="listSearch" resultType="rboard">
		select talExcNO, e.title, e.content, nickName, writeDate
		from TalExchange e,TalExcConn c,member m
		where  c.memNO=m.memNO 
	        and e.talConnNO=c.talConnNO <!-- <include refid="search"></include> -->
		order by talExcNO desc
		</select>
		
	<!-- 전체글갯수 확인하기 -->	
	<select id="countPaging" resultType="int">
		select count(*)
		from TalExchange
	</select>
	
	<!-- 검색으로 찾은 목록 갯수 확인하기 -->	
	<select id="listSearchCount" resultType="int">
		select count(*) from TalExchange
		<include refid="search"></include>
	</select>	
	
	
<!-- <select id="nickname" resultType="int">	
select nickname
from member
where memno= (select  memNO
				from TalExcConn
				where talConnNo = (select talConnNO
									from TalExchange
									where talExcNO='TE_A00001'))
</select> -->
	
</mapper>




