<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="talExchange">

	<!-- 검색어 조회 -->
	<sql id="search">
		<if test="searchType == 'all'.toString()">
			AND ((title LIKE '%'||#{keyword}||'%')
			OR (contentHave LIKE
			'%'||#{keyword}||'%')
			OR (contentWant LIKE '%'||#{keyword}||'%')
			OR
			(nickName LIKE '%'||#{keyword}||'%' ))
		</if>
		<if test="searchType == 't'.toString()">
			AND title LIKE '%'||#{keyword}||'%'
		</if>
		<if test="searchType == 'c'.toString()">
			AND (contentHave LIKE '%'||#{keyword}||'%' OR contentWant
			LIKE
			'%'||#{keyword}||'%')
		</if>
		<if test="searchType == 'w'.toString()">
			AND nickName LIKE '%'||#{keyword}||'%'
		</if>
	</sql>

	<!--리스트 -->
	<select id="listSearch" resultType="talExChangeVO">
		SELECT TEC.TALCONNNO, TB.memNO memNO, M.nickName, M.EMAIL, M.TEL, TEC.state
		FROM TalentBoard TB, TalExcConn TEC, MEMBER M
		WHERE
		TB.MEMNO = M.MEMNO
		AND TB.TALDOCNO = TEC.TALDOCNO
		AND TEC.memNO = #{connMemNO} --내가 신청자
		AND TEC.STATE = 3
		UNION
		SELECT TEC.TALCONNNO, TEC.memNO memNO, M.nickName, M.EMAIL, M.TEL, TEC.state
		FROM TalentBoard TB, TalExcConn TEC, MEMBER M
		WHERE
		TEC.MEMNO = M.MEMNO
		AND TB.TALDOCNO = TEC.TALDOCNO
		AND TB.memNO = #{connMemNO} --내가 작성자
		AND TEC.STATE = 3
		<include refid="search"></include>
		ORDER BY TALCONNNO DESC
	</select>

	<!-- 게시물 갯수 출력 -->
	<select id="listSearchCount" resultType="int">
		SELECT count(*) FROM TalExcConn, Member
		WHERE TalExcConn.memNO = Member.memNO
		AND TalExcConn.STATE = 3
		<include refid="search"></include>
	</select>

	<!-- 상대가 보유한 재능 항목 리스트 -->
	<select id="listTalDivHave" resultType="talDivVO">
		SELECT TEC.TALCONNNO, TB.TALDOCNO, DT.TALDIVDF, DT.name
		FROM NP_TalHave TH, TalentBoard TB, TalExcConn TEC, MEMBER M, DF_TALDIV DT
		WHERE M.MEMNO = TB.MEMNO
		AND TH.TALDOCNO = TB.TALDOCNO
		AND TEC.TALDOCNO = TB.TALDOCNO --연결된것중 작성
		AND TEC.memNO = #{connMemNO} --내가 신청자
		AND DT.talDivDF = TH.talDivDF
		AND TEC.STATE = 3
		UNION
		SELECT TEC.TALCONNNO, TB.TALDOCNO, DT.TALDIVDF, DT.name
		FROM NP_TalHaveCn THC, TalentBoard TB, TalExcConn TEC, MEMBER M, DF_TALDIV DT
		WHERE M.MEMNO = TEC.MEMNO
		AND THC.TALCONNNO = TEC.TALCONNNO
		AND TB.TALDOCNO = TEC.TALDOCNO
		AND TB.memNO = #{connMemNO} --내가 작성자
		AND DT.talDivDF = THC.talDivDF
		AND TEC.STATE = 3
		<include refid="search"></include>
		ORDER BY TALCONNNO DESC
	</select>

	<!-- 상대의 보유한 재능 항목 (단일) -->
	<select id="readAudiTalDivHave" resultType="talDivVO">
		SELECT TEC.TALCONNNO, TB.TALDOCNO, DT.TALDIVDF, DT.name
		FROM NP_TalHave TH, TalentBoard TB, TalExcConn TEC, MEMBER M, DF_TALDIV DT
		WHERE M.MEMNO = TB.MEMNO
		      AND TH.TALDOCNO = TB.TALDOCNO
		      AND TEC.TALDOCNO = TB.TALDOCNO --연결된것중 작성
		      AND TEC.TALCONNNO = #{talConnNO}
		      AND TEC.memNO = #{connMemNO} --내가 신청자
		      AND DT.talDivDF = TH.talDivDF
		      AND TEC.STATE = 3
		UNION
		SELECT TEC.TALCONNNO, TB.TALDOCNO, DT.TALDIVDF, DT.name
		FROM NP_TalHaveCn THC, TalentBoard TB, TalExcConn TEC, MEMBER M, DF_TALDIV DT
		WHERE M.MEMNO = TEC.MEMNO
		      AND THC.TALCONNNO = TEC.TALCONNNO
		      AND TB.TALDOCNO = TEC.TALDOCNO
		      AND TEC.TALCONNNO = #{talConnNO}
		      AND TB.memNO = #{connMemNO} --내가 작성자
		      AND DT.talDivDF = THC.talDivDF
		      AND TEC.STATE = 3
		ORDER BY TALCONNNO DESC
	</select>

	<!-- 교환 타임라인 생성 -->
	<insert id="createTalExcTimeLine">
		INSERT INTO TalExcTime (talTimeNO, talConnNO, memNO, content, writeDate, isYNview, state)
		VALUES ('TET_A'||LPAD(TalExcTime_seq.nextval,5,0), #{talConnNO}, #{memNO}, #{content}, sysdate, 'N', 2)
	</insert>

	<!-- 교환 타임라인 표시 -->
	<select id="infoTalExcTimeLine" resultType="talExcTimelineVO">
		SELECT TET.talTimeNO, TET.TALCONNNO, TET.memNO, M.nickName, TET.content, TET.writeDate, TET.ISYNVIEW, TET.state
		FROM TalExcTime TET, MEMBER M
		WHERE TET.TALCONNNO = #{talConnNO}
		      AND TET.MEMNO = M.MEMNO
		ORDER BY TET.talTimeNO DESC
	</select>

</mapper>




