<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="rboard">

	<!-- 후기 입력하기 -->
	<insert id="create">
		INSERT INTO TalReview (talReviewNO, talConnNO, memNO, title, content, writeDate)
		VALUES ('TE_A' || LPAD(TalReview_seq.nextval, 5, 0), #{talConnNO}, #{memNO}, #{title}, #{content}, sysdate)
	</insert>

	<!-- 후기 게시판 전체목록보기 -->
	<select id="listAll" resultType="rboard">
		SELECT talReviewNO, title, content, writeDate
		FROM TalReview
		ORDER BY talReviewNO DESC
	</select>

	<!-- 게시물 상세읽기 -->
	<select id="read" resultType="rboard">
		select r.nickname, w.content, w.title , w.talReviewNO
		from talReview w, member r
 		where r.memNO = w.memNO and talreviewno=#{talreviewno}
	</select>
	
	<!-- 게시글 작성자 가져오기
	<select id="readnickname" resultType="String">
		select nickname
		from member
		where memno=(select memno from talreview where talreviewno=#{talReviewNO});
	</select>-->

	<!-- 게시물 수정 -->
	<update id="update">
		update TalReview set title=#{title}, content=#{content}
		where talReviewNO=#{talReviewNO}
	</update>

	<!-- 게시물 삭제 -->
	<delete id="delete">
		delete from TalReview where talReviewNO=#{talReviewNO}
	</delete>

	<!--  검색어 조회 -->
	<sql id="search">
		<if test="searchType !=null">
			<if test="searchType == 't'.toString()">
				AND e.title LIKE '%'||#{keyword}||'%'
			</if>
			<if test="searchType == 'c'.toString()">
				AND e.content LIKE '%'||#{keyword}||'%'
			</if>
			<if test="searchType == 'w'.toString()">
				AND nickname LIKE '%'||#{keyword}||'%'
			</if>
		</if>
	</sql>

		<!-- 검색어 조회 -->
	<sql id="search2">
		<if test="searchType !=null">
			<if test="searchType == 't'.toString()">
				where e.title like '%'||#{keyword}||'%'
			</if>
			<if test="searchType == 'c'.toString()">
				where e.content like '%'||#{keyword}||'%'
			</if>
			<if test="searchType == 'w'.toString()">
				where nickname like '%'||#{keyword}||'%'
			</if>
		</if>
	</sql>

	<!-- 전체리스트 검색하기 -->
	<select id="listSearch" resultType="rboard">
		select talReviewNO, r.nickname, w.content, w.title , writeDate
		from talReview w, member r
 		where r.memNO = w.memNO
		
		<!-- <include refid="search"></include> -->
		order by talReviewNO desc
	</select>

	<!-- 전체글갯수 확인하기 -->
	<select id="countPaging" resultType="int">
		SELECT count(*) FROM TalReview
	</select>

	<!-- 검색으로 찾은 목록 갯수 확인하기 -->
	<select id="listSearchCount" resultType="int">
		select count(*) from TalReview
		<include refid="search2"></include>
	</select>

	
</mapper>




