<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd" >
<configuration>
	<!-- MyBatis환경설정 -->
	<typeAliases>

<typeAlias type="com.simpact.domain.CounselAnswerVO" alias="csreply"/>

		<typeAlias type="com.simpact.domain.TalReviewVO" alias="rboard"/>
		<typeAlias type="com.simpact.domain.CounselVO" alias="csboard2"/>
		<typeAlias type="com.simpact.domain.TalReviewReplyVO" alias="talreview"/>  
		<typeAlias type="com.simpact.domain.TalBoardVO" alias="talentlist"/>
		<typeAlias type="com.simpact.domain.TalCategoryVO" alias="talCategory"/>
		<typeAlias type="com.simpact.domain.TalDivVO" alias="talDivVO"/>
		<typeAlias type="com.simpact.domain.MemberVO" alias="member"/>
		<typeAlias type="com.simpact.domain.EmployeeVO" alias="employee"/>
		<typeAlias type="com.simpact.domain.TalExcConnVO" alias="talExcConnVO"/>
		<typeAlias type="com.simpact.domain.MessengerVO" alias="messengerVO"/>
		<typeAlias type="com.simpact.domain.QuestionVO" alias="quest"/>
		<typeAlias type="com.simpact.domain.TalExchangelistVO" alias="rboardlist"/>
		<typeAlias type="com.simpact.domain.PersonDFVO" alias="personDF"/>
		<typeAlias type="com.simpact.domain.GradeDFVO" alias="gradeDF"/>
		<typeAlias type="com.simpact.domain.PositionDFVO" alias="positionDF"/>
		<typeAlias type="com.simpact.domain.TalExchangeVO" alias="talExChangeVO"/>
		<typeAlias type="com.simpact.domain.TalExcTimelineVO" alias="talExcTimelineVO"/>

</typeAliases>
	<!-- 따로따로 맴퍼를 등록해야한다면, 여기에 아래와 같이 등록!! -->
	<!--
	<mappers>
		<mapper resource="TestMapper.xml"/>
		<mapper resource="MemberMapper.xml"/>
	</mappers>
	-->
</configuration>